[Unit]
Description=Flask app (Gunicorn)
After=network.target

[Service]
User={{ app_user }}
Group=ec2-user
WorkingDirectory={{ app_dir }}
EnvironmentFile={{ app_env_file }}
ExecStart={{ app_dir }}/venv/bin/gunicorn --workers 2 --bind 0.0.0.0:8000 wsgi:app
Restart=always
RestartSec=3
[Install]
WantedBy=multi-user.target