# /etc/consul.d/consul.hcl

datacenter = "my-dc-1"

data_dir = "/opt/consul"

client_addr = "0.0.0.0"

ui_config{
  enabled = true
}

server = true

bind_addr = "[::]" # Listen on all IPv6
bind_addr = "0.0.0.0" # Listen on all IPv4
advertise_addr = "{{ ansible_default_ipv4.address }}" # theres have to be private ip of vm

bootstrap_expect=1